<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.js"></script>
    <script src="../src/express.js"></script>
    <script src="../src/cliente.js"></script>
</head>
<body ng-app="app" ng-controller="api">
    <input type="submit" ng-click="contar()" value="Adiconar"/>
    <h3> Numero de Vistantes nesta pagina é:<b id="values"></b></h3>
    <input type="submit" ng-click="zerar()" value="zerar"/>
</body>
</html>